

@model List<ToDoTask>


    <div class="container w-50 my-3">
  
    <form  class="d-flex" role="search" asp-controller="ToDoTask" asp-action="Filter">
     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchString">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
    
</div>

@*<form>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>
</form>*@



    <div class="container my-2">
    <h3>Task List</h3>
<table class="table ">
    <thead>
        <tr>
            <th scope="col">Task Name</th>
            <th>Task Details</th>
            @* <th>Add Task</th>*@
              <th>Edit Task</th>
              <th>Delete Task</th>
        </tr>
    </thead>
    <tbody>
       
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@item.Name , "GetTaskDetails",new{id=item.Id})</td>
                <td>@Html.ActionLink("Details" , "GetTaskDetails",new{id=item.Id})</td>
                    @*<td class=" p-2">@Html.ActionLink("Add" , "CreateTask" ) </td>*@
                    <td class="p-2">@Html.ActionLink("Edit" , "UpdateTask" ,new{id=item.Id})</td>
                    <td class=" p-2">@Html.ActionLink("Delete" , "DeleteTask",new{id=item.Id})</td>
               </tr>
               
            }

            <button class="btn btn-info ">@Html.ActionLink("AddTask" , "CreateTask" )</button>
           
    </tbody>
</table>
</div>

@*<div class="container my-3">
      <span class="p-2">@Html.ActionLink("Edit" , "UpdateTask")</span>
            <span class=" p-2">@Html.ActionLink("Delete" , "DeleteTask")</span>
            <span class=" p-2">@Html.ActionLink("Add" , "CreateTask")</span>
</div>*@
